@model List<string>
<!DOCTYPE HTML>

<html>
    <head>
        <title>Dependency</title>
    </head>
    <body>
    @foreach(var item in Model)
    {
        <ul>
            @item
        </ul>
    }
</body>
</html>